.public-header
{
    height: 110px;

    background: white;
}
.public-container
{
    width: 1100px;
    margin: 0 auto;

    background: white;
}
.public-header .header-logo
{
    float: left;

    margin-top: 42px;
}
.public-header .header-logo a
{
    width: 182px;
    height: 54px;

    background: url('../images/public-header-logo.png');
}
.public-header .header-nav
{
    font-size: 14px;

    float: right;
}
.public-header .header-nav .item
{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
.public-header .header-nav a
{
    color: #555;
}
.public-header .header-nav a:hover
{
    color: red;
}
.public-footer
{
    height: 318px;

    background: #3b3b3b;
}
.public-footer .foot-col
{
    font-size: 16px;
    line-height: 1.5;

    float: left;

    width: 230px;
    margin-top: 100px;
    margin-right: 60px;

    color: white;
}
.public-footer .foot-col a
{
    width: 182px;
    height: 54px;
    margin-top: -15px;
    margin-bottom: 10px;

    background: url('../images/public-footer-logo.png');
}
.public-footer .foot-col:last-child
{
    margin-right: 0;
}
