/*banner样式*/
.index-banner {
    width: 100%;
    position: relative;
}
.index-banner-bg {
    height: 570px;
    overflow: hidden;
    text-align: center;
}
.index-banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -388px;
    margin-top: -50.8px;
}
.index-banner-text .text-logo {
    background: url('../images/banner-text-logo.png');
    width: 776px;
    height: 117px;
}

.index-banner-text .text-info {
    margin-top: 18px;
    color: white;
    text-align: center;
}
.index-banner-text .text-info .line {
    display: inline-block;
    border-bottom: 1px solid white;
    width: 40px;
    vertical-align: middle;
}
.index-banner-text .text-info span {
    margin: 0 20px;
}

/*menu样式*/
.index-menu {
    position: relative;
    border-top: 4px solid #f34949;
}
.index-menu .menu-tip {
    width: 156px;
    height: 71px;
    margin: 0 auto;
    background: #f34949;
    text-align: center;
    line-height: 65px;
    color: white;
}
.index-menu .menu-tip::after {
    position: absolute;
    top: 61px;
    left: 50%;
    margin-left: -78px;
    width: 0;   /*必填！*/
    height: 0;  /*必填！*/
    content: '';  /*必填！*/
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    border-bottom: 10px solid white;    /*CSS画三角*/
}
.index-menu .menu-list {
    margin-top: 80px;
    overflow: hidden;
}
.menu-list ul {
    width: 1160px;
}
.menu-list .list-item {
    float: left;
    width: 520px;
    margin-right: 60px;
    margin-bottom: 60px;
}
.list-item .title {
    float: left;
    width: 230px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-item .title p {
    color: #b7b7b7;
    margin-top: 4px;
    font-size: 12px;
}
.list-item .line {
    float: left;
    border-top: 1px solid #e3e1e1;
    width: 192px;
    margin-top: 8px;
}
.list-item .price {
    float: right;
    color: black;
}
.menu-list .menu-btn {
    width: 114px;
    height: 32px;
    border: 1px solid #d7d5d5;
    margin: 0 auto;
    padding-left: 16px;
    line-height: 32px;  /*行高定位！！*/
    color: #d7d5d5;
    position: relative;
}
.menu-list .menu-btn:hover {
    color: black;
}
.menu-list .menu-btn .icon {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 0;
    height: 0;
    content: '';
    border-top: 10px dashed #b7b7b7;
    border-left: 6px dashed white;
    border-right: 6px dashed white;
}

/*panel样式*/
.index-panel {
    margin-top: 200px;
}
.index-panel .index-panel-header .tilte{
    float: left;
    font-size: 18px;
    color: #484848;
}
.index-panel .index-panel-header .line {
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    border-top: 1px solid #e5e3e3;
    width: 200px;

}
.index-panel .index-panel-header .panel-btn-group {
    float: right;
    font-size: 0;   /*父元素设置font-size为0，子元素间的默认间距即可消除！*/
}
.index-panel-header .panel-btn-group .btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dedede;
    margin-left: 11px;
}
.index-panel-header .panel-btn-group .btn.active {
    background: #9b9b9b;
}
.index-panel {
    overflow: hidden;
}
.index-panel .panel-list {
    margin-top: 80px;
    height: 270px;
    width: 1160px;
}
.panel-list .panel-item {
    float: left;
    margin-right: 60px;
}
.panel-list .panel-item .panel-imgs {
    display: block;
    margin-bottom: 30px;
    width: 230px;
    height: 200px;
}
.panel-list .panel-item h4 {
    float: left;
    color: #555;
}
.panel-list .panel-item .price {
    float: right;
    color: #555;
}
.panel-item .star-group {
    float: left;
    margin-top: 15px;
    font-size: 0;
}
.panel-item .star-group .star {
    display: inline-block;
    margin-right: 5px;
    background: url('../images/star.jpg') no-repeat;
    width: 13px;
    height: 13px;
}
.panel-item .star-group .nostar {
    background: url('../images/star.jpg') no-repeat -17px 0;
}

.index-panel .index-panel-body.panel-imgs-list {
    margin-top: 130px;
    margin-bottom: 200px;
}

.panel-imgs-list img {
    display: block;
    width: 1100px;
    margin: 0 auto;
}
