body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,textarea,a,p,form {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
}

img {
	border: none;
	/*display: block;*/
}

.clearfloat {
	zoom: 1;
}

.clearfloat:after {	/*清除浮动样式之一！*/
	display: block;
	clear: both;
	content: '';
	visibility: hidden;
	height: 0;
}
