.content .introduction > h3 {
    width: 120px;
    height: 40px;
    position:relative;
    line-height: 40px;
    text-align: center;
    color: #079a2f;
}
.content .introduction > h3::after {
    content:"";
    border-left: 12px solid green;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width:0px;
    height:0px;
    position:absolute;
    left:0;
    top:8px;
}
.introduction .comInfo,.introduction .cultureInfo {
    background-color: #EFEFEF;
    border-left: 10px solid #079A2E;
    padding: 15px 25px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(133, 133, 133);
}
.introduction > .zhizhao {
    display: block;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 35px;
}
.introduction > .zizhi-imgs img {
    width: 300px;
    height: auto;
    margin: 30px 10px;
    cursor: pointer;
}
.introduction > .zizhi-imgs > .img:hover {
    z-index: 99;
}
.introduction > .zizhi-imgs > .img:hover > img {
    transform: scale(1.5,1.5);
    transition: 1.6s transfrom;
}
.glyphicon-star {
    color: #80d00b;
    margin-right: 10px;
}
@media (max-width:992px) {
    .introduction > .zizhi-imgs img {
        width: 250px;
        height: auto;
        margin: 20px 10px;
        cursor: pointer;
    }
}
