.content .joinus > h3 {
    width: 120px;
    height: 40px;
    position:relative;
    line-height: 40px;
    text-align: center;
    color: #079a2f;
}
.content .joinus > h3::after {
    content:"";
    border-left: 12px solid green;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width:0px;
    height:0px;
    position:absolute;
    left:0;
    top:8px;
}
.joinus > .joinus-support {
    background-color: #EFEFEF;
    border-left: 10px solid #079A2E;
    padding: 15px 25px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(133, 133, 133);
}
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border: 1px solid #079A2E;
    border-image: initial;
    margin: 0 auto;
    margin-top: 20px;
}
legend {
    width:auto;
    border: none;
    margin-bottom: 0;
    color: #079A2E;
}
.joinus > .support-item .content-item {
    line-height: 1.8;
    color: rgb(133, 133, 133);
    font-family: '微软雅黑';
}
.joinus > .support-item-sum {
    border: 1px solid #079A2E;
    padding: 10px;
    margin: 30px 0;
}
.joinus > .support-item-sum > p {
    line-height: 1.8;
    color: rgb(133, 133, 133);
    font-family: '微软雅黑';
}
.joinus > .wechatQQ {
    float: right;
    margin-top: 60px;
}
.joinus > .wechatQQ img {
    width: 100px;
    height: 100px;
}
.joinus > .wechatQQ p {
    text-align: center;
    color: green;
}
.joinus > .joinus-contact span {
    line-height: 1.8;
    color: rgb(133, 133, 133);
}
.joinus > .joinus-contact span.com {
    color: #009900;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.joinus > .joinus-contact span > a {
    display: inline-block;
    color: rgb(133, 133, 133);
}
.glyphicon {
    margin-right: 10px;
    color: #80d00b;
}
.joinus-contact #allmap {
    width: 600px;
    height: 500px;
    margin: 30px 0;
}

@media (max-width:768px) {
    .content .title,.content .contactUs {
        display: none;
    }
    .joinus-contact #allmap {
        width: 500px;
        height: 400px;
        margin: 20px 0;
    }
    .joinus > .wechatQQ img {
        width: 70px;
        height: 70px;
    }
}
