@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

/*主页的样式css*/
/*顶部固定栏样式*/
.fixNavbar{
    height: 50px;
    width: 100%;
}
.divPic {
    position: absolute;
    left: 60px;
    height:50px;
}
.divNav {
    position: absolute;
    right: 100px;
    height: 50px;
}
.navbar-default {
    border-color:white;
}

/*轮播样式*/
.carousel-control {
    line-height: 440px;
    font-size: 60px;
    /*opacity: 0.5;*/
}
.lunBoPic {
    height: 440px;
    width: 99.99%;
    margin: 0 auto;
    text-align: center;
}
.item img{
    width: 99.99%;
    margin: 0 auto;
    height: 440px !important;
}

/*中间大字样式*/
.midSlogan {
    width: 99%;
    margin: 40px auto;
    height: 100px;
    text-align: center;
    color: blue;
}
.response {
    font-size: 20px;
    color: gray;
}

/*拼图样式*/
.Fourtabs {
    width: 99.99%;
    margin: 0 auto;
}
.Adiv {
    padding : 20px;
}

/*大图文样式*/
.tab2 {
    width: 100%;
    background:#eee;
    padding: 30px 0 30px 0;
}
.tab3 {
    width: 100%;
    padding: 30px 0 30px 0;
}
.tab2 h3, .tab3 h3{
    font-size: 20px;
}
.tab2 p, .tab3 p{
    font-size: 15px;
}

/*脚本样式*/
.fixFooter {
    width: 99.99%;
    margin: 0 auto;
    height: 80px;
}
.myFooter {
    height: 80px;
    background: black;
    color: white;
    text-align: center;
}
.breadcrumb {
    background: black;
    margin-top: 5px;
    margin-bottom: 6px;
}
.breadcrumb li a{
    color: white;
}
.navbar.navbar-default.myFooter {
    margin-bottom: 0;
    border-radius: 0px;
}
.breadcrumb > li + li:before {
    content: "|\00a0";
}

/*information页面的css*/
.jumbotron {
    background: url(../img/bg.jpg);
    color: #eee;
    /*margin-top: 50px;*/
    padding-left: 30px;
}
.jumbotron h2 {
    font-size: 30px;
}
.jumbotron p {
    font-size: 16px;
}
.information-detail {
    margin: 10px 0;
    background: white;
}
.information-detail img {
    margin:10px;
}
.information-detail h3 {
    margin-top: 15px;
	font-size: 15px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.information-detail p {
	font-size:12px;
}
.information-abbr {
    margin: 10px 0;
    background: white;
}
.information-abbr h3 {
    margin-top: 15px;
    font-size: 15px;
    overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.information-abbr img {
    margin-top: 15px;
}

/*case页面的css*/
.case {
    background: white;
    padding: 40px;
}
.thumbnail h3 {
    font-size: 18px;
    text-align: center;
}
.thumbnail p {
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*about页面的css*/
.about a {
    color: blue;
}
.info-about {
    background: white;
}
.info-about p {
    font-size: 16px;
    line-height: 2;
}


/*sm小屏幕*/
@media(min-width: 768px) {
    .response {
        font-size: 25px;
    }
    .tab2 h3, .tab3 h3{
        font-size: 23px;
    }
    .tab2 p, .tab3 p{
        font-size: 17px;
    }
    .breadcrumb {
        background: black;
        margin-top: 5px;
        margin-bottom: 6px;
    }
    .breadcrumb li a{
        color: white;
    }
    .navbar.navbar-default.myFooter {
        margin-bottom: 0;
        border-radius: 0px;
    }
    .breadcrumb > li + li:before {
        content: "|\00a0";
    }
    .jumbotron h2 {
        font-size: 33px;
    }
    .jumbotron p {
        font-size: 18px;
    }
    .info-about p {
        font-size: 20px;
    }
}

/*md中屏幕*/
@media(min-width: 992px) {
    .response {
        font-size: 30px;
    }
    .tab2 h3, .tab3 h3{
        font-size: 27px;
    }
    .tab2 p, .tab3 p{
        font-size: 22px;
    }
    .jumbotron h2 {
        font-size: 36px;
    }
    .jumbotron p {
        font-size: 20px;
    }
    .thumbnail h3 {
        font-size: 21px;
    }
    .thumbnail p {
        font-size: 18px;
    }
}

/*lg大屏幕*/
@media(min-width: 1200px) {
    .response {
        font-size: 35px;
    }
    .tab2 h3, .tab3 h3{
        font-size: 32px;
    }
    .tab2 p, .tab3 p{
        font-size: 27px;
    }
    .jumbotron h2 {
        font-size: 35px;
    }
    .jumbotron p {
        font-size: 22px;
    }
    .thumbnail h3 {
        font-size: 25px;
    }
    .thumbnail p {
        font-size: 20px;
    }
}
