@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}
/*用户查看的块 作为最3d外层的元素 */
#view {
	position:relative;
	width: 200px;
	height: 200px;
	margin: 200px auto;
	perspective: 500px; /*观察者与平面的距离*/
	perspective-origin: 250px -50px; /*3d变化基于的原点(参考物)*/
}
/*立方体*/
@keyframes scroll {
	100% {transform: rotate3d(1,1,1,360deg);}
}
.cube {
	animation-name:scroll;
	animation-duration:1s;
	animation-delay:6s;
	animation-iteration-count:infinite;/*无线循环*/
	animation-timing-function:linear; /*匀速旋转*/
	position:relative;
	width: 200px;
	height: 200px;
	transform-style:preserve-3d; /* 3d呈现 */
	/*绕x轴转 绕面6的一条边旋转*/
	/*transform: rotate3d(1,0,0,45deg);*/
	/*绕xy轴转 绕面6的对角线旋转*/
	/*transform: rotate3d(1,1,0,45deg);*/
	/*绕xyz轴转 绕立方体的对角线旋转*/
	/*transform: rotate3d(1,1,1,45deg);*/
}
/*立方体的面(相同的部分)*/
.face {
	width: 200px;
	height: 200px;
	background: yellow;
	position: absolute;
	text-align:center; /*内容左右居中*/
	line-height:200px;/*上下居中 line-height=height */
	font-size:144px; /*字体大小*/
	opacity:0.5; /*透明度*/
}
/*立方体的面(不同的部分)*/
@keyframes anim1 {
	100% { transform:rotateY(-90deg); }
}
#face1{
	z-index:6; /* 1在最前面 */
	background: lightblue;
	transform-origin:left; /*绕左边旋转*/
	/*transform:rotateY(-90deg);*/
	animation-name: anim1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes anim2 {
	100% {	transform: rotateY(90deg); }
}
#face2{
	z-index:5;
	background: silver;
	transform-origin:right; /*绕右边旋转*/
	/*transform:rotateY(90deg);*/
	animation-name: anim2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
@keyframes anim3 {
	100% {transform: rotateX(90deg);}
}
#face3{
	z-index:4;
	background: green;
	transform-origin:top; /*绕上边旋转*/
	/*transform:rotateX(90deg);*/
	animation-name: anim3;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
@keyframes anim4 {
	100% {transform: rotateX(-90deg);}
}
#face4{
	z-index:3;
	background: orange;
	transform-origin:bottom;/**绕下面旋转*/
	/*transform:rotateX(-90deg);*/
	animation-name: anim4;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}
@keyframes anim5 {
	100% {transform: translateZ(200px);}
}
#face5{
	z-index:2;
	background: yellow;
	/*transform:translateZ(200px);*//*沿z轴正方向移动*/
	animation-name: anim5;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}
@keyframes anim6 {
	100% {transform: rotateY(180deg);}
}
#face6{
	z-index:1;
	background: purple;
	transform-origin:center;/*自转180deg*/
	/*transform:rotateY(180deg);*/
	animation-name: anim6;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 5s;
}
